.nav_left{
	width: 127px;
	background: white;
	border: 1px solid rgb(228,228,228);
	float: left;
}
.my_deal{
	width: 107px;
	height: 103px;
	margin: 20px auto;
	border-bottom: 1px dotted #ddd;
}
.my_asset{
	width: 107px;
	height: 210px;
	margin: 20px auto ;
	border-bottom: 1px dotted #ddd;
}
.my_account{
	width: 107px;
	height: 129px;
	margin: 20px auto;
	border-bottom: 1px dotted #ddd;
}
dl>dt>a{
	font-weight: 900;
	color: black;
}
dl>dt>i{
	width: 13px;
    height: 13px;
    display: inline-block;
	background: url(../../image/user/sprites.png)-71px -209px;
    /*background-position: ;!*-88px -209px;*!*/
    cursor: pointer;
}
dl>dd{
	margin-left: 22px;
	height: 27px;
	line-height: 27px;
}
dl>dd>a{
	color: #666;
	font-size: 12px;
}


