body{
	min-width: 820px;
}
.address_warp{
	width: 100%;
}
.address_title{
	/*width: 100%;*/
	padding: 0 25px;
	height: 56px;
	line-height: 56px;
	border-bottom: 1px solid #ebebeb;
}
.btn_add{
	width: 112px;
	height: 32px;
	line-height: 32px;
	padding: 0 10px;
	text-align: center;
	color: white;
	background-color: #f10180;
    border-radius: 3px;
    display: inline-block;
    float: right;
    margin-top: -44px;
    font-size: 12px;
}
.address_list{
	width: 100%;
	padding: 20px 0;
}
/*测试用户地址*/
.demo1{
	width: 227px;
    height: 122px;
    display: inline-block;
    background: url(../../image/user/address-bg.png) no-repeat;
    margin: 0 0 10px 10px;
    padding: 14px;
}
.address_add{
	width: 100%;
	background: rgb(251,251,251);
	border-top: 1px solid #ef50a3;
}
.address_add_title{
	padding:0 20px;
	height: 50px;
	line-height: 50px;
	background:white ;
	font-size: 14px;
	border-bottom:1px solid rgb(220,220,220);
}
.address_add>form{
	padding: 20px 35px;
}
.consignee{
	width: 100%;
	height: 32px;
	line-height: 32px;
	margin-bottom: 15px;
}
.consignee>label{
	display: inline-block;
	width: 75px;
	margin-right: 10px;
	text-align: right;
}
.consignee>label>strong{
	color: #ef50a3;;
	margin-right: 5px;
}
.consignee>input{
	border: 1px solid #b2b2b2;
    border-radius: 3px;
    background:white;
    height: 18px;
    line-height: 18px;
    padding: 6px 10px;
}
.area{
	width: 100%;
	height: 32px;
	line-height: 32px;
	margin-bottom: 15px;
}
.area>label{
	display: inline-block;
	width: 75px;
	margin-right: 10px;
	text-align: right;
}
.area>label>strong{
	color: #ef50a3;;
	margin-right: 5px;
}
.area>input{
	width: 120px;
	border: 1px solid #b2b2b2;
    border-radius: 3px;
    background:white;
    height: 18px;
    line-height: 18px;
    padding: 6px 10px;
}
.phone{
	width: 100%;
	height: 32px;
	line-height: 32px;
	margin-bottom: 15px;
}
.phone>label{
	display: inline-block;
	width: 75px;
	margin-right: 10px;
	text-align: right;
}
.phone>label>strong{
	color: #ef50a3;;
	margin-right: 5px;
}
.phone>input{
	width: 300px;
	border: 1px solid #b2b2b2;
    border-radius: 3px;
    background:white;
    height: 18px;
    line-height: 18px;
    padding: 6px 10px;
}
.address{
	width: 100%;
	height: 32px;
	line-height: 32px;
	margin-bottom: 15px;
}
.address>label{
	display: inline-block;
	width: 75px;
	margin-right: 10px;
	text-align: right;
}
.address>label>strong{
	color: #ef50a3;;
	margin-right: 5px;
}
.address>input{
	width: 300px;
	border: 1px solid #b2b2b2;
    border-radius: 3px;
    background:white;
    height: 18px;
    line-height: 18px;
    padding: 6px 10px;
}
.address_add_submit{
	width: 100%;
	height: 32px;
	margin: 20px 0;
	border-top: rgb(225,225,225)1px solid;
}
.address_add_submit>input{
	width: 170px;
	height: 32px;
	background-color: #f10180;
	border-radius: 3px;
    border: 1px solid #f10180;
    color: white;
    text-align: center;
    margin: 20px 0 10px 285px;
}
