.body{
	width: 100%;
	background: url(../../image/user/layout-bg.png)no-repeat center 0 rgb(245,246,248);
    min-height: 600px;
}
.user_warp{
	width: 1000px;
	height: 925px;
	margin: 0 auto;
	padding-top: 30px;
	overflow: hidden;
}
.frame_right{
	width: 820px;
	height: 900px;
	padding-left: 20px;
	float: left;
}
.user_message{
    width: 780px;
    height: 228px;
    padding: 20px 20px 0 20px;
    background: white;
}
.message_top{
    width: 100%;
    height: 100px;
}
.news{
    width: 295px;
    height: 100%;
}
.message_context{
    width: 100%;
    height: 100px;
    overflow: hidden;
}
.information{
    width:530px;
    height:100px;
    float:left;
}
.head_image{
    width: 92px;
    height: 92px;
    float: left;
}
.head_image>a>img{
    width:100%;
    height:100%;
}
.user_context{
    width: 300px;
    height: 93px;
    float: left;
    margin-left: 20px;
    font-size: 14px;
}
.user_context>div{
    width: 100%;
    height: 31px;
    line-height: 31px;
    font-size: 14px;
}
.context_title>strong{
    font-size: 25px;
}
.context_title>i{
    width: 25px;
    height: 25px;
    display: inline-block;
    background: url(../../image/user/i-level-small.png)no-repeat transparent 4px 2px;
    vertical-align: text-bottom;
}
.context_title>span{
    font-size: 14px;
    color:#666;
}
.context_complete>a{
    font-size: 12px;
    color: #000000;
}
.context_complete>a:hover{
    color: rgb(160,197,232);
}
.context_complete>a:nth-child(2){
    width: 100px;
    height: 12px;
    display: inline-block;
    background: #ddd;
    vertical-align: middle;
}
.context_complete>a:nth-child(2)>i{
    width: 50px;
    height: 12px;
    display: block;
    line-height: 12px;
    text-align: center;
    font-size: 12px;
    background: rgb(240, 148, 18);
    color: white;
}
.context_safe>span:nth-child(2){
    color:red;
}
.context_safe>i:nth-child(3){
    width: 12px;
    height: 12px;
    display: inline-block;
    background: url(../../image/user/i-warning-12px.png) center;
}
.context_safe>a:nth-child(4){
    width: 10px;
    height: 16px;
    display: inline-block;
    background: url(../../image/user/psw_reset.png)-2px -2px;
    vertical-align: middle;
    /*-56px -2px;*/
}
.context_safe>a:nth-child(5){
    width: 10px;
    height: 16px;
    display: inline-block;
    background: url(../../image/user/psw_reset.png)-56px -2px;;
    vertical-align: middle;
}
.context_safe>a:nth-child(6){
    margin-left: 26px;
    font-size: 12px;
    color: #000000;
}
.context_safe>a:nth-child(6):hover{
    color: rgb(160,197,232);
}
.news{
    width: 219px;
    height: 100px;
    float: left;
    padding-left: 30px;
    border-left: 1px dashed rgb(235,235,235);
}
.news>h3>a{
    color:#000;
}
.news>p{
    margin-top: 10px;
    color: #666;
    font-size: 12px;
}

.message_context{
    width: 778px;
    height: 85px;
    margin: 30px  auto 10px;
    background: rgb(245,248,249);
}

.user_message_bottom{
    width: 820px;
    height: 5px;
    background: url(../../image/user/userInfotop_bg_new.png)repeat-x;
}
.user_order{
    width: 820px;
    height: 330px;
    margin-top: 50px;
    /*border: 1px solid  rgb(236,236,236);*/
    background: white;
}
.order_title,.collect_title{
    width: 820px;
    height: 47px;
    background: rgb(249,249,249);
    border: 1px solid  rgb(236,236,236);
    box-sizing: border-box;
}
.order_title>ul{
    width: 270px;
    height: 47px;
    line-height: 47px;
    margin-left: 30px;
}
.order_title>ul>li{
    width: 75px;
    height: 100%;
    margin-right: 15px;
}
.order_title li>a{
    font-size:14px ;
    color: #999;
}
.order_title li>a:hover{
    color: rgb(160,197,232);
}
.user_collect{
    width: 100%;
    background: white;
}
.collect_title ul{
    width: 320px;
    height: 47px;
    margin-left: 30px;
}
.collect_title ul>li{
    width: 75px;
    height: 47px;
    line-height: 47px;
    margin-right: 15px;
}
.collect_title ul>li:nth-child(1){
    width: 120px;
}
.collect_title ul>li:nth-child(1)>i{
    width: 2px;
    height: 14px;
    display: inline-block;
    background: #f10180;
}
.collect_title ul>li>a{
    font-size:14px ;
    color: #999;
}
.collect_title ul>li>a:hover{
    color: rgb(160,197,232);
}

