.body{
	width: 100%;
	background: url(../../image/user/layout-bg.png)no-repeat center 0 rgb(245,246,248);
    min-height: 600px;
}
.user_warp{
	width: 1000px;
	height: 925px;
	margin: 0px auto;
	padding-top: 30px;
	overflow: hidden;
}
.frame_right{
	width: 820px;
	height: 900px;
	padding-left: 20px;
	float: left;
}


