<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title></title>
		<link rel="stylesheet" type="text/css" href="../../Resource/css/all.css" />
		<link rel="stylesheet" type="text/css" href="../../Resource/css/index/index_header.css"/>
		<link rel="stylesheet" type="text/css" href="../../Resource/css/index/index_footer.css" />
		<link rel="stylesheet" type="text/css" href="../../Resource/css/product/product_detail.css" />
		<script type="text/javascript" src="../../Resource/js/jquery-1.3.2.min.js" ></script>
	</head>
	<body>
		<!--
        	作者：邓宁宁
        	时间：2018-09-26
        	描述：商品详情页
        -->
        
        <!--
        	头部，通过jquery导入
        -->
		<header id="header"></header>
		<script type="text/javascript">
			$(document).ready(function(){
				$("#header").load("../../view/index/index_header.html");
				$("#footer").load("../../view/index/index_footer.html");
			});
		</script>
		
		<!--内容-->
		<div class="body">
			<div class="product_detail">
				<div class="p_img">
					<img src="../../Resource/image/product/test1/919724-011-5_235x297_90.jpg">
					<div class="img_list">
						<ul>
							<li>
								<img src="../../Resource/image/product/test1/f92d2f7d-24dd-4f3d-bf1a-f3a6030b0197_t_235x297_90.jpg" />
							</li>
							<li>
								<img src="../../Resource/image/product/test1/f92d2f7d-24dd-4f3d-bf1a-f3a6030b0197_t_235x297_90.jpg" />
							</li>
							<li>
								<img src="../../Resource/image/product/test1/f92d2f7d-24dd-4f3d-bf1a-f3a6030b0197_t_235x297_90.jpg" />
							</li>
							<li>
								<img src="../../Resource/image/product/test1/f92d2f7d-24dd-4f3d-bf1a-f3a6030b0197_t_235x297_90.jpg" />
							</li>
							<li>
								<img src="../../Resource/image/product/test1/f92d2f7d-24dd-4f3d-bf1a-f3a6030b0197_t_235x297_90.jpg" />
							</li>
							<li>
								<img src="../../Resource/image/product/test1/f92d2f7d-24dd-4f3d-bf1a-f3a6030b0197_t_235x297_90.jpg" />
							</li>
						</ul>
					</div>
					<div class="p_collect">
						<span>商品编码：844994-002</span>
						<a href="">
							<i></i>收藏商品
						</a>
						<div class="share">
							<i></i><span>分享到:</span>
						</div>
					</div>
					<div class="p_service">
						<ul>
							<li>
								<i></i>100%正品
							</li>
							<li>
								<i></i>七天放心退
							</li>
							<li>
								<i></i>支持退货
							</li>
						</ul>
					</div>
						
				</div>
				<div class="p_detail">
					<div class="p_brand">
						耐克
					</div>
					<div class="p_title">
						<h2>耐克Nike ROSHE ONE 女款运动鞋</h2>
					</div>
					<div class="p_describe">
						Nike（耐克）致力于激发人们运动热情，
						是职业运动员、年轻运动爱好者钟爱的国际运动品牌，
						其休闲鞋兼顾舒适性及各种潮流元素，
						为消费者带来独特的时尚搭配体验。
					</div>
					<div class="p_price">
						<strong>￥349</strong>
						<del>￥499</del>
						<span>7折</span>						
					</div>
					<div class="p_freight">
						<label>运费</label>
						<span>免运费</span>
					</div>
					<div class="p_size">
						<label>
							尺码
						</label>
						<ul>
							<li>
								5
							</li>
							<li>
								5.5
							</li>
							<li>
								6
							</li>
							<li>
								6
							</li>
							<li>
								6
							</li>
							<li>
								6
							</li>
							
						</ul>
					</div>
					<div class="p_number">
						<label>
							数量
						</label>
						<div class="btn_number">
							<a href="javascript:;">-</a>
							<input type="text" value="1">
							<a href="javascript:;">+</a>
						</div>						
					</div>
					<div class="btn_buy">
						<label></label>
						<span class="button_buy_product">加入购物车</span>
						
					</div>
					<div class="vip">
						<label></label>
						<p>
							您是<span>铁牌</span>会员，购买最多可获得 <span>174</span>个唯品币(会员等级越高唯品币越多)
						</p>  
					</div>
				</div>
				
			</div>
			<div class="product_evaluate">
				
			</div>
		</div>
		
		<!--
        	作者：1058156924@qq.com
        	时间：2018-11-10
        	描述：页脚
        -->
		<footer id="footer"></footer>
        
	</body>
</html>
