<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>耐克Nike男女运动专场</title>
        <script type="text/javascript" src="../../Resource/js/jquery-1.3.2.min.js" ></script>
        <script type="text/javascript" src="../../Resource/js/vue.min.js" ></script>
        <script type="text/javascript" src="../../Resource/js/product/product_menu.js" ></script>
        <link rel="stylesheet" type="text/css" href="../../Resource/css/all.css" />
        <link rel="stylesheet" type="text/css" href="../../Resource/css/index/index_header.css"/>
        <link rel="stylesheet" type="text/css" href="../../Resource/css/index/index_footer.css" />
        <link rel="stylesheet" type="text/css" href="../../Resource/css/product/product_menu.css" />
    </head>
<body>
        <!--
            作者：邓宁宁
            时间：2018-09-25
            描述：商品分类页面
        -->

        <!--头部，通过jquery导入 -->
        <header id="header"></header>

        <!--内容 -->
        <div class="body">

            <!--热门商品推荐-->
            <div class="hot_product">
            </div>

            <!--商品分类菜单-->
            <div class="menu">
                <div class="menu_title">
                    <h2>耐克Nike男女运动专场</h2>
                    <strong>2折起</strong>
                    <a href="javascript:;">收藏品牌<span>(1,452,678)</span></a>
                </div>
                <div class="menu_fenLei" id="secondary_list">
                    <label>分类:</label>
                    <ul>
                        <li>
                            <a href="">全部分类</a>
                        </li>
                        <li v-for="secondary in secondarys">
                            <a href="javascript:void(0)">{{secondary.name}}<span>(335)</span></a>
                        </li>

                    </ul>
                </div>
                <div class="menu_size" id="productSize">
                    <label>尺码：</label>
                    <ul>
                        <li v-for="productSize in product_sizes">
                            <a href="javascript:void(0)">{{productSize.size}}</a>
                        </li>
                    </ul>
                </div>
            </div>

            <!--商品列表-->
            <div class="product_list_warp">
                <div class="product_list_title">

                </div>
                <div class="product_list" id="product_list">
                    <div class="product" v-for="product in products">
                        <a href="product_detail.html" class="product_image">
                            <!--动态拼接src-->
                            <!--单引号包裹的是常量，+号后跟的是变量，拼接起来用双引号包裹   -->
                            <!--:src    Vue标签-->
                            <img :src="'../../Resource/image/products/'+product.default_image">
                        </a>
                        <div class="price">
                            <span>￥{{Math.ceil(product.price*0.7)}}</span><!--打折后的价格，向上取整-->
                            <del>￥{{product.price}}</del>
                            <!--折扣-->
                            <div class="discount">
                                <span>7折</span>
                            </div>
                        </div>
                        <div class="title">
                             <a href="">{{product.title}}</a>
                        </div>
                        <div class="new_product">
                            <img src="../../Resource/image/product/fe509ab1-ec01-4ee8-b053-ed3f2e052c47.png" />
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!--
            作者：1058156924@qq.com
            时间：2018-11-10
            描述：页脚
        -->
        <footer id="footer"></footer>

    </body>
</html>
