.body{
	width: 1000px;
	margin: 50px auto;
}
.address_info{
	width: 100%;
}
.address_info_title{
	width: 970px;
    padding: 10px 15px;
    height: 18px;
    line-height: 18px;
    border: 1px solid #e2e2e2;
    border-left: 2px solid #f3168a;
    background-color: #f9f9f9;
}
.address_info_title>h2{
	display: inline;
}
.address_info_title>a{
	float: right;
	color: #1d94d1;
}
.address_info_title>a:hover{
	color: rgb(60,189,255);
}
.address_info_list{
	margin-left: 30px;
	margin-top: 40px;
	width: 980px;
}
.address_info_list>ul{
	overflow: hidden;
}
.address_info_list>ul>li{
	width: 300px;
	height: 150px;
	margin: 0 20px 20px 0;
    border: 1px solid #d0d0d0;
    box-sizing: border-box;
	background: url(../../image/order/sprites-y-hash-0476d4fe.png)repeat-x 0 -304px;
	font-size: 14px;
}
.address_info_list>ul>li:nth-child(1){
    background-position: 0 0;
}
.address_info_warp{
	margin: 20px 20px 0 20px;
}
.address_info_warp>p{
	margin-bottom: 10px;
}
.address_info_warp>p:nth-child(1){
	border-bottom: 1px dashed #999999;
}
.area{
	display: inline-block;   
    width: 13px;
    height: 16px;
    background: url(../../image/order/sprites-hash-c9711cec.png)-198px -123px;
    vertical-align: middle;
    margin-right: 3px;
}
.address_select{
	display: inline-block;
	width: 34px;
    height: 34px;
    background: url(../../image/order/sprites-hash-c9711cec.png);
    background-position: -160px -116px;
    float: right;
}
.product_info{
	width: 100%;
	margin-top: 50px;
}
.product_info_title{
	width: 1000px;
    padding: 10px 15px;
    height: 40px;
    line-height: 18px;/*真的就是18px不要改!!!!!*/
    border: 1px solid #e2e2e2;
    border-left: 2px solid #f3168a;
    background-color: #f9f9f9;
    box-sizing: border-box;
}
.product_info_title>h2{
	display: inline;
}
.product_info_title>a{
	float: right;
	color: #1d94d1;
}
.product_info_title>a:hover{
	color: rgb(60,189,255);
}
.product_info_list{
	width: 930px;
	margin: 0 auto;
}
.product_info_list>table{
	width: 100%;
	margin-top: 20px;
}
.p_desc_title{
	width: 100%;
	height: 30px;
}
.p_desc_title>td:nth-child(1){
	width: 400px;
	margin-right: 100px;
	border-bottom: 1px solid #e0e0e0;
}
.p_desc_title>td:nth-child(2){
	width: 150px;
	text-align: center;
	border-bottom: 1px solid #e0e0e0;
}
.p_desc_title>td:nth-child(3){
	width: 150px;
	text-align: center;
	border-bottom: 1px solid #e0e0e0;
}
.p_desc_title>td:nth-child(4){
	width: 150px;
	text-align: right;
	border-bottom: 1px solid #e0e0e0;
}
.p_desc_title em{
    font-weight: inherit;
    font-style: normal;
    font-size: 18px;
}
.p_desc_title span{
	color: grey;
}
.p_desc{
	width: 100%;
}
.p_desc>td:nth-child(1){
	overflow: hidden;
	padding-top: 15px;
}
.p_desc>td:nth-child(2){
	text-align: center;
}
.p_desc>td:nth-child(3){
	text-align: center;
}
.p_desc>td:nth-child(4){
	text-align: right;
}
.p_desc img{
	width: 32px;
	height: 42px;
	float: left;
}
.p_title{
	width: 380px;
	height: 42px;
	margin-left: 20px;
	float: left;
}
.order_total{
	width: 100%;
	height: 30px;
	line-height: 30px;
	margin: 20px 0;
	border-top: 1px solid grey;
	text-align: right;
}
.order_total>span{
	margin-left: 20px;
	font-weight: 700;
}
.total_money{
	color: #f10180!important;
}
.pay_info{
	margin: 30px 0;
	width: 100%;
	padding-bottom: 30px;
	border-bottom: 1px dashed grey;
}
.pay_info>h2{
	display: block;
	width: 1000px;
    padding: 10px 15px;
    height: 40px;
    line-height: 18px;/*真的就是18px不要改!!!!!*/
    border: 1px solid #e2e2e2;
    border-left: 2px solid #f3168a;
    background-color: #f9f9f9;
    box-sizing: border-box;
}
.pay_method{
	margin: 30px 15px;	
}
.method_online{
	width: 100%;
	height: 78px;
	margin-top: 20px;
	border: 1px solid rgb(124,191,19);
	border-radius: 2px;
	background: rgb(252,254,249);
	cursor: pointer;
}
.method_online>input{
	display: inline-block;
	width: 20px;
	height: 20px;
	margin: 20px 20px 0 20px;
	float: left;
}
.method_online>label{
	display: inline-block;
	height: 20px;
	margin: 20px 20px 0 0;
	float: left;
	cursor: pointer;
}
.online_desc{
	margin-top: 20px;
	color: #999;
}
.method_cod{
	width: 100%;
	height: 78px;
	margin-top: 20px;
	border: 1px solid rgb(124,191,19);
	border-radius: 2px;
	background: rgb(252,254,249);
	cursor: pointer;
}
.method_cod>input{
	display: inline-block;
	width: 20px;
	height: 20px;
	margin: 20px 20px 0 20px;
	float: left;
}
.method_cod>label{
	display: inline-block;
	height: 20px;
	margin: 20px 20px 0 0;
	float: left;
	cursor: pointer;
}
.cod_desc{
	margin-top: 20px;
	color: #999;
}
.order_balance{
	width: 100%;
	height: 200px;
	border: 1px solid rgb(224,224,224);
	box-sizing: border-box;
}
.order_balance_info{
	/*height:150px*/
	padding-top: 20px;
	padding-right: 20px;
	height: 130px;
	text-align: right;
}
.order_balance_info>p{
	margin-bottom: 5px;
}
.order_balance_info>p>span:not(.order_address){
	display: inline-block;
	width: 100px;
}
/*.order_address{
	width: ;
}*/
.order_submit{
	width: 100%;
	height: 50px;
	background: rgb(240,240,240);
}

