.body{
	width: 1000px;
	margin: 0 auto;
}
.product_detail{
	margin-top: 50px;
	width: 100%;
	overflow: hidden;
}
.p_img{
	width: 420px;
	height: 700px;
	float: left;
}
.p_img>img{
	width: 332px;
	height: 420px;
	padding: 0 44px;
	background: rgb(247,247,247);
}
.img_list{
	margin-top: 10px;
	width: 100%;
	height: 64px;
}
.img_list>ul{
	width: 100%;
	height: 100%;
}
.img_list>ul>li{
	width: 62px;
	height: 100%;
	margin-right: 7px;
	border: 1px solid  #999999;
}
.img_list>ul>li:last-child{
	margin-right: 0;
}
.img_list>ul>li>img{
	width: 100%;
	height: 100%;
}
.p_collect{
	width: 100%;
	height: 50px;
	line-height: 50px;
	font-size: 14px;
	color: #999;
	border-bottom:1px #e2e2e2 dashed;
}
.p_collect>a{
	color: #999;
}
.p_collect>a>i{
	width: 16px;
	height: 15px;
	display: inline-block;
	margin-left: 20px;
	margin-right: 2px;
	background: url(../../image/product/detail-sprites-hash-ca10c0e2.png)-543px -150px;
}
.share{
	width: 95px;
	height: 24px;
	line-height: 24px;
	margin-top: 10px;
	text-align: center;
	display: inline-block;
	background: #fafafa;
    border: solid 1px #c2c2c2;
    border-radius: 2px;
    cursor: pointer;
    float: right;
}
.p_service{
	width: 100%;
	height: 60px;
	margin-top:10px ;	
}
.p_service>ul>li{
	width: 140px;
	height: 50px;
	line-height: 50px;
	color: #B2B2B2;
}
.p_service>ul>li:nth-child(1)>i{
	width: 30px;
	height: 30px;
	display: inline-block;
	background: url(../../image/product/detail-sprites-hash-ca10c0e2.png);
    background-position: -360px -190px;
    margin-right: 10px;
    vertical-align: middle;
}
.p_service>ul>li:nth-child(2)>i{
	width: 30px;
	height: 30px;
	display: inline-block;
	background: url(../../image/product/detail-sprites-hash-ca10c0e2.png);
	margin-right: 10px;
    background-position: -496px -190px;
    vertical-align: middle;
}
.p_service>ul>li:nth-child(3)>i{
	width: 30px;
	height: 30px;
	display: inline-block;
	background: url(../../image/product/detail-sprites-hash-ca10c0e2.png);
	margin-right: 10px;
    background-position: -326px -190px;
     vertical-align: middle;
}
.p_detail{
	width: 550px;
	height: 700px;
	float: right;
}
.p_brand{
	width: 100%;
	height: 22px;
	line-height: 22px;
	color: #777578;;
}
.p_title{
	width: 100%;
	height: 30px;
	margin: 5px 0;
}
.p_describe{
	width: 100%;
	color:#999;
}
.p_price{
	width: 100%;
	height: 70px;
	margin-top: 10px;
	margin-bottom: 15px;
	padding-bottom: 20px;
	background: url(../../image/product/detail_price_bg_l-hash-8ee789be.png)no-repeat #faf5f8;
	overflow: hidden;
}
.p_price>strong{
	display: inline-block;
	font-size: 48px;
    color: #f43499;
  	margin: 15px;
}
.p_price>span{
	font-size: 12px;
    color: #f43499;
    border-radius: 3px;
    text-align: center;
    border: 1px solid #f43499;
    padding: 2px 5px ;
}
.p_price>del{
	color: #666;
}
.p_freight{
	width: 100%;
	overflow: hidden;
	margin: 10px 0;
}
.p_freight>label{
	width: 40px;
	display: block;
	font-size: 14px;
	color: #999;
	float: left;
}
.p_freight>span{
	display: block;
	float: left;
	font-size: 14px;
	color: #000000;
}
.p_size{
	width: 100%;
}
.p_size>label{
	display: block;
	width: 40px;
	height: 100%;
	float: left;
	padding-top: 20px;
	font-size: 14px;
	color: #999;
}
.p_size>ul{
	overflow: hidden;
}
.p_size>ul>li{
	width: 75px;
	height: 30px;
	line-height: 30px;
	text-align: center;
    border: 1px solid #ccc;
    margin-right: 10px;
    margin-top: 10px;
}
.p_size>ul>li:hover{
	border-color: rgb(244,52,153);
}
.p_number{
	margin: 20px 0;
	width: 100%;
	overflow: hidden;
}
.p_number>label{
	width: 40px;
	height: 100%;
	display: block;
	font-size: 14px;
	color: #999;
	float: left;
	padding-top: 10px;
}
.btn_number{
	width: 75px;
	height: 30px;
	border: 1px solid #b3b3b3;
	display: block;
	float: left;
	overflow: hidden;
}
.btn_number>a{
	width: 22px;
	height: 30px;
	line-height: 30px;
	text-align: center;
	background-color: #f9f8f8;
    color: #dad8d8;
	display: inline-block;
}
.btn_number>a:nth-child(1){
	border-right: 1px solid rgb(228,227,227);
	float: left;
}
.btn_number>a:nth-child(3){
	border-left: 1px solid rgb(228,227,227);
	float: right;
}
.btn_number>input{
	display: inline-block;
	width: 29px;
	height: 32px ;
	line-height: 32px;
	text-align: center;
	font: 12px/1.5 tahoma,arial,Hiragino Sans GB,
	WenQuanYi Micro Hei,\5FAE\8F6F\96C5\9ED1,\5B8B\4F53,sans-serif;
	border: 0;
}
.btn_buy{
	margin: 40px 0;
	width: 100%;
	overflow: hidden;
}
.btn_buy>label{
	width: 40px;
	height: 100%;
	display: block;
	float: left;
	padding-top: 10px;
}
.button_buy_product{
	width: 198px;
	height: 46px;
	line-height: 46px;
	text-align: center;
	display: block;
	float: left;
	background-color: #f10180;
    border: 1px solid #f10180;
    border-radius: 3px;
	color: white;
	cursor: pointer;
}
.vip{
	width: 100%;
	height: 26px;
	overflow: hidden;
	border-bottom:1px #e2e2e2 dashed;
}
.vip>label{
	width: 40px;
	height: 100%;
	display: block;
	float: left;
	padding-top: 10px;
}
.vip>p{
	font-size: 12px;
	color: #999;
}
.vip>p>span{
	color: #f62e99;;
	margin: 0 3px;
}
