<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>用户注册</title>
		<script type="text/javascript" src="../../Resource/js/jquery-1.3.2.min.js" ></script>
		<script type="text/javascript" src="../../Resource/js/json2.js" ></script>
		<script type="text/javaScript" src="../../Resource/js/user/user_register.js"></script>
		<link type="text/css" rel="stylesheet" href="../../Resource/css/all.css"/>
		<link type="text/css" rel="stylesheet" href="../../Resource/css/user/user_header&footer.css"/>
		<link type="text/css" rel="stylesheet" href="../../Resource/css/user/user_register.css"/>
	</head>
	<body>
		<!--头部-->
		<header>
			<div class="head">
				<div class="logo">
					<a href="../index/index.html">
						<img src="../../Resource/image/index/logo.png" />
					</a>
				</div>
				<div class="service">
					<img src="../../Resource/image/index/logoService.png">
				</div>
			</div>
		</header>

        <!--内容-->
		<div class="main">
			<div class="main_warp">
				<div class="register_warp">
					<div class="register_nav">
						<h3>会员注册</h3>
						<span>已注册可<a href="user_login.html">直接登录</a></span>
					</div>

					<div class="register_form">
                        <!--手机号码-->
                        <div class="telephone">
                            <i></i><input type="text" id="telephone" name="telephone" placeholder="请输入手机号码"/>
                        </div>
                        <div class="telephone_msg"></div><!--提示信息-->

                        <!--验证码-->
                        <div class="code">
                            <i></i><input type="text" id="code" name="code" placeholder="请输入验证码">
                        </div>
                        <input type="button" value="获取验证码" id="getCode" class="getCode"/>
                        <div class="code_msg"></div><!--提示信息-->

                        <!--密码-->
                        <div class="password">
                            <i></i><input type="password" id="password" name="password" placeholder="密码由6-20位字母，数字和符号组合"/>
                        </div>
                        <div class="password_msg"></div><!--提示信息-->

                        <!--重复密码-->
                        <div class="pwd">
                            <i></i><input type="password" id="pwd" name="pwd" placeholder="请再次输入上面的密码" />
                        </div>
                        <div class="pwd_msg"></div><!--提示信息-->

                        <!--用户协议-->
                        <div class="read">
                            <input type="checkbox" id="r_username" name="checkbox"/><label for="r_username">我已阅读并接受以下条款：</label>
                            <a href="">《唯品会服务条款》</a>
                            <a href="">《隐私条款》</a>
                            <a href="">《唯品支付用户服务协议》</a>
                            <a href="">《唯品信用服务协议》</a>
                        </div>
                        <div class="read_msg"></div><!--提示信息-->

                        <!--提交按钮-->
                        <input type="submit" value="立即注册" class="sub_register" id="register_btn"/>
					</div>
				</div>
			</div>
		</div>

        <!--底部-->
		<footer>
			<p>
				Copyright 2008-2018 vip.com，All Rights Reserved ICP证：粤 B2-20080329
			</p>
		</footer>
	
	</body>
</html>