<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>个人信息</title>
		<link type="text/css" rel="stylesheet" href="../../Resource/css/all.css"/>
		<link type="text/css" rel="stylesheet" href="../../Resource/css/user/user_iframe_message.css"/>
	</head>
	<body>
		<div class="message_warp">
			<div class="message_title">
				<h3>基本资料</h3>
			</div>
						
			<div class="message_headImage">
				<div class="head_image">
					<a href="">
						<img src="../../Resource/image/user/avatar_89373029_1496285287409.jpg" />
					</a>
				</div>
				<div class="username">
						<p>
							登录名：<span>17796645107</span>
						</p>
						<p>
							资料完整度：<span><i>50%</i></span>
						</p>
				</div>
			</div>
			<form>
				<div class="message_context">
					<div class="user_name">
						<label>
							<strong>*</strong>昵称：
						</label>
						<input type="text" name="name">
						<div class="name_error"></div>
					</div>
					<div class="user_sex">
						<label>
							<strong>*</strong>性别：
						</label>
						<input type="radio" name="sex" value="男">男
						<input type="radio" name="sex" value="女">女
						<div class="sex_error"></div>
					</div>
					<div class="user_birthday">
						<label>
							<strong>*</strong>生日：
						</label>
						<input type="text" name="" >年
						<input type="text" name="" >月
						<input type="text" name="" >日
						<div class="sex_error"></div>
					</div>
					<div class="user_phone">
						<label>
							移动电话：
						</label>
						<span>17796645107</span>
						<span class="validate_phone"></span>
						<a href="">修改</a>
					</div>
					<div class="user_area">
						<label>
							<strong>*</strong>所在地地址：
						</label>
						<input type="text" name="" >
						<input type="text" name="" >
						<input type="text" name="" >
					</div>
					<div class="user_address">
						<label>
							&nbsp;
						</label>
						<input type="text" name="address" placeholder="详细地址">
					</div>
					<div class="user_email">
						<label>
							邮箱：
						</label>
						<input type="text"  />
						<input type="button" value="验证邮箱">
					</div>
				</div>
				<div class="form_submit">
					<input type="submit" value="提交">
					<input type="reset" value="重置">
				</div>
			</form>
		</div>
	</body>
</html>
