
		<div class="user_message">
			<div class="message_top">
				<div class="information">
					<div class="head_image">
						<a href="">
							<img src="../../Resource/image/user/avatar_89373029_1496285287409.jpg">
						</a>
					</div>
					<div class="user_context">
						<div class="context_title">
							<strong>17796645107</strong>
							<i></i>
							<span>上午好！</span><br>
						</div>
						<div class="context_complete">
							<span>资料完整度：</span>
							<a href=""><i>50%</i></a>
							<a href="">立即完善</a><br>
						</div>
						<div class="context_safe">
							<span>账户安全级别:</span>
							<span>低</span>
							<i></i>
							<a href=""></a>
							<a href=""></a>
							<a href="">立即提示</a>
						</div>
					</div>
				</div>
				<div class="news">
					<h3><a href="">我的消息</a></h3>
					<p>	哎呀，没有新消息了</p>
				</div>
			</div>
			<div class="message_context">
				<div class="context_card">
					
				</div>
				<div class="context_total">
					
				</div>
			</div>
		</div>
		<div class="user_message_bottom"></div>
		<div class="user_order">
			<div class="order_title">
				<ul>
					<li>
						<a href="">全部订单</a>
					</li>
					<li>
						<a href="">待支付</a>
					</li>
					<li>
						<a href="">待收货</a>
					</li>
				</ul>
			</div>
			<div class="order_main">
				
			</div>
		</div>
		<div class="user_collect">
			<div class="collect_title">
				<ul>
					<li>
						<i></i>
						<a href="">我收藏的品牌</a>
					</li>
					<li>
						<a href="">正在特卖</a>
					</li>
					<li>
						<a href="">即将特卖</a>
					</li>
				</ul>
			</div>
			<div class="collect_main">
				
			</div>
		</div>
