<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title></title>
		<script type="text/javascript" src="Resource/js/jquery-1.3.2.min.js" ></script>
		<script type="text/javaScript" src=""></script>
		<link type="text/css" rel="stylesheet" href="../../Resource/css/all.css" />
		<link type="text/css" rel="stylesheet" href="../../Resource/css/user/user_iframe_address.css"/>
	</head>
	<body>
		
		 <!--
         	作者：邓宁宁
         	时间：2018-09-24
         	描述：
         --> 
		
		<div class="address_warp">
			<div class="address_title">
				<p>
					<strong>已经保存的收货地址</strong>
					您已经创建 <span>1</span>个收货地址，最多可创建 10 个
				</p>
				<a href="javascript:;" class="btn_add">新增收货地址</a>
			</div>
			<div class="address_list">
				<div class="demo1">
					
				</div>
				<div class="demo1">
					
				</div>
				<div class="demo1">
					
				</div>
				<!--<div class="demo1">
					
				</div>-->
			</div>
			<div class="address_add">
				<div class="address_add_title">
					<strong>新增收货地址</strong>
				</div>
				<form>
					<div class="consignee">
						<label>
							<strong>*</strong>收货人:
						</label>
						<input type="text" placeholder="收货人姓名">
					</div>
					<div class="area">
						<label>
							<strong>*</strong>地址:
						</label>
						<input type="text" placeholder="省/直辖市">
						<input type="text" placeholder="市">
						<input type="text" placeholder="区/县">
						<input type="text" placeholder="乡镇/街道">
					</div>
					<div class="address">
						<label>
							
						</label>
						<input type="text" placeholder="详细地址">
					</div>
					<div class="phone">
						<label>
							<strong>*</strong>手机:
						</label>
						<input type="text" placeholder="手机号">
					</div>
					<div class="address_add_submit">
						<input type="submit" value="保存收货地址" />
					</div>
				</form>
			</div>
		</div>
	
	</body>
</html>