<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>用户登录</title>
        <script type="text/javascript" src="../../Resource/js/jquery-1.3.2.min.js"></script>
        <script type="text/javascript" src="../../Resource/js/json2.js"></script>
        <script type="text/javascript" src="../../Resource/js/user/user_login.js"></script>
		<link rel="stylesheet" type="text/css" href="../../Resource/css/all.css" />
		<link rel="stylesheet" type="text/css" href="../../Resource/css/user/user_header&footer.css" />
		<link type="text/css" rel="stylesheet" href="../../Resource/css/user/user_login.css"  />
	</head>
    <!--
        时间：2018-11-22
    -->

	<body>
		<header>
			<div class="head">
				<div class="logo">
					<a href="../index/index.html">
						<img src="../../Resource/image/index/logo.png" />
					</a>
				</div>
				<div class="service">
					<img src="../../Resource/image/index/logoService.png">
				</div>
			</div>
		</header>
		<div class="main">
			<div class="main_warp">
				<div class="login_warp">
					<div class="login_nav">
						<div class="code_login">
							<span>扫码登录</span>
						</div>
						<div class="account_login">
							<span>账户登录</span>
						</div> 
					</div>
					<div class="login_form">
                        <div class="username">
                            <i></i><input type="text" id="username" placeholder="手机号/用户名/邮箱" required="required"/>
                        </div>
                        <div class="password">
                            <i></i><input type="password" id="password" placeholder="密码" required="required"/>
                        </div>
                        <div class="group">
                            <div class="remember_username">
                                <input type="checkbox" id="r_username"/><label for="r_username">记住用户名</label>
                            </div>
                            <div class="forget_password">
                                <a href="">忘记密码</a>
                            </div>
                        </div>
                        <button type="button" id="login_submit">登录</button>
					</div>
					<div class="other">
						<div class="weChat">
							<a href=""><span></span></a>
						</div>
						<div class="other_list">
							<ul>
								<li><a href="">新浪微博</a></li>
								<li><a href="">QQ</a></li>
								<li><a href="">支付宝</a></li>
								<li><a href="">更多</a></li>
								<li><a href="user_register.html">免费注册</a></li>
							</ul>
						</div>
					</div>
				</div>
			</div>
		</div>
		<footer>
			<p>
				Copyright 2008-2018 vip.com，All Rights Reserved ICP证：粤 B2-20080329
			</p>
		</footer>
	</body>
</html>
