header{
	width: 100%;
    margin-bottom: 30px;
    height: 78px;
    border-bottom: 2px solid #f3168a;
	
}
.head_warp{
	width: 1000px;
	height: 100%;
	margin: 0 auto;
}
.logo{
	width: 194px;
	height: 48px;
	margin-top: 20px;
	background: url(../../image/goodCart/sprites-hash-bce65243.png);
	background-position: -288px 0;
	float: left;
}
.head_nav{
	margin-top: 10px;
	float: right;
}
.user_info,.telephone,.online_service,.vip_service{
	display: inline-block;
	height: 20px;
}
.user_info{
	color: grey;
}
.user_info>i{
	width: 16px;
    height: 21px;
    display: inline-block;
    background-image: url(../../image/user/i-level-small.png);
    background-repeat: no-repeat;
    vertical-align: middle;
}
.user_info a{
	color: grey;
}
.logout{
	margin:0 15px;
}
.telephone{
	width: 86px;
	height: 14px;
	line-height: 14px;
	padding: 0 10px;
	color: grey;
	border-left: 1px solid grey;
	border-right: 1px solid grey;
	text-align: center;
	margin: 0 5px;
}
.online_service{
	width: 68px;
	height: 14px;
	line-height: 14px;
	padding: 0 10px 0 0;
	color: grey;
	border-right: 1px solid grey;
	text-align: center;
	margin: 0 5px;
}
.vip_service{
	color: grey;
}
.service{
	margin-top: 10px;
	width: 420px;
	height: 20px;
}
.service li:nth-child(1)>i{
	display: inline-block;
	width: 27px;
	height: 25px;
	background: url(../../image/goodCart/1.png);
	margin-right: 10px;
	vertical-align: middle;
}
.service li:nth-child(2)>i{
	display: inline-block;
	width: 27px;
	height: 25px;
	background: url(../../image/goodCart/3.png);
	margin: 0 10px 0 20px;
	vertical-align: middle;
}
.service li:nth-child(3)>i{
	display: inline-block;
	width: 27px;
	height: 25px;
	background: url(../../image/goodCart/2.png);
	margin: 0 10px 0 20px;
	vertical-align: middle;
}