<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>唯品会</title>
        <script type="text/javascript" src="../../Resource/js/jquery-1.3.2.min.js" ></script>
        <script type="text/javaScript" src="../../Resource/js/index/index.js"></script>
		<link rel="stylesheet" type="text/css" href="../../Resource/css/all.css" />
		<link rel="stylesheet" type="text/css" href="../../Resource/css/index/index_header.css" />
		<link rel="stylesheet" type="text/css" href="../../Resource/css/index/index_footer.css" />
		<link type="text/css" rel="stylesheet" href="../../Resource/css/index/index.css"/>
	</head>
	<body>
		<!--
        	作者：邓宁宁
        	时间：2018-09-13
        	描述： 唯品會（仿）
        -->

		<!--
        	头部，通过jquery导入
        -->
		<header id="header"></header>


		<!--轮播图--><div class="banner">
            <div class="banner_main">
                <ul>
                    <li><img src="../../Resource/image/index/banner1.jpg"></li>
                    <li></li>
                </ul>
                <span class="banner_float_btn"><i></i></span>
                <span class="banner_float_btn"><i></i></span>

                <div class="banner_switch_btn">
                    <ul>
                        <li>家居家紡 最高滿199減100</li>
                        <li>潮玩滑板鞋 低至2折</li>
                    </ul>
                </div>
            </div>
        </div>

        <!--推荐商品，新人优惠商品-->
        <div class="ad">
            <div class="daily_area">
                <img src="../../Resource/image/index/15344789862278.jpg" />
                <table cellspacing="10px">
                    <tr>
                        <td rowspan="2">
                            <img class="ad_img1" src="../../Resource/image/index/15344779654591.jpg" />
                        </td>
                        <td rowspan="2">
                            <img class="ad_img1" src="../../Resource/image/index/15347564520917.jpg" />
                        </td>
                        <td rowspan="2">
                            <img class="ad_img1" src="../../Resource/image/index/15344782291383.jpg" />
                        </td>
                        <td>
                            <img class="ad_img2" src="../../Resource/image/index/15344789267226.jpg">
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <img class="ad_img2" src="../../Resource/image/index/15344783872795.jpg">
                        </td>
                    </tr>
                    <tr>
                        <td colspan="4">
                            <img class="ad_img3" src="../../Resource/image/index/15365701882178.jpg">
                        </td>
                    </tr>

                </table>
            </div>
            <div class="newGoods_area">
                <div class="newGoods_title">
                    <img src="../../Resource/image/index/title.png">
                </div>
                <div class="newGoods_nav">
                    <div class="new_kill">
                        <img src="../../Resource/image/index/sec_icon.png">
                        <span>今日秒殺</span>
                    </div>
                    <div class="newGoods_list">
                        <ul>
                            <li><a href="">护肤</a></li>
                            <li><a href="">女装</a></li>
                            <li><a href="">男装</a></li>
                            <li><a href="">母婴</a></li>
                            <li><a href="">箱包</a></li>
                            <li><a href="">内衣</a></li>
                            <li><a href="">零食</a></li>
                            <li><a href="">家电</a></li>
                            <li style="border: 0;"><a href="">家用</a></li>
                        </ul>
                    </div>
                </div>
                <table cellspacing="0" border="1" rules="all">
                    <tr>
                        <td rowspan="2">
                            <img src="../../Resource/image/index/20180915105234.png">
                        </td>
                        <td>
                            <a href="">
                                <img src="../../Resource/image/index/2e099294-7af5-4115-9a17-d42a8d756f2d_5t.jpg.webp">
                                <p>【2018新品】轻熟风优雅通勤简约百搭纯色木耳边灯笼袖显瘦长袖短款女士雪纺衫上衣女款衬衫</p>
                                <span>秒杀价￥<b>69</b><del>￥198</del></span>
                            </a>
                        </td>
                        <td>
                            <a href="">
                                <img src="../../Resource/image/index/0b5701e7-50cb-4aa4-931d-93abe81de43f_5t.jpg.webp">
                                <p>【2018新品】轻熟风优雅通勤简约百搭纯色木耳边灯笼袖显瘦长袖短款女士雪纺衫上衣女款衬衫</p>
                                <span>秒杀价￥<b>69</b><del>￥198</del></span>
                            </a>
                        </td>
                        <td>
                            <a href="">
                                <img src="../../Resource/image/index/c74a2d84-800e-40f8-96f0-46532db56946_5t.jpg.webp">
                                <p>【2018新品】轻熟风优雅通勤简约百搭纯色木耳边灯笼袖显瘦长袖短款女士雪纺衫上衣女款衬衫</p>
                                <span>秒杀价￥<b>69</b><del>￥198</del></span>
                            </a>
                        </td>
                        <td>
                            <a href="">
                                <img src="../../Resource/image/index/6b17f181-4ae1-4c37-88b9-e32f7159cafe_t.jpg.webp">
                                <p>【2018新品】轻熟风优雅通勤简约百搭纯色木耳边灯笼袖显瘦长袖短款女士雪纺衫上衣女款衬衫</p>
                                <span>秒杀价￥<b>69</b><del>￥198</del></span>
                            </a>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <a href="">
                                <img src="../../Resource/image/index/2e099294-7af5-4115-9a17-d42a8d756f2d_5t.jpg.webp">
                                <p>【2018新品】轻熟风优雅通勤简约百搭纯色木耳边灯笼袖显瘦长袖短款女士雪纺衫上衣女款衬衫</p>
                                <span>秒杀价￥<b>69</b><del>￥198</del></span>
                            </a>
                        </td>
                        <td>
                            <a href="">
                                <img src="../../Resource/image/index/0b5701e7-50cb-4aa4-931d-93abe81de43f_5t.jpg.webp">
                                <p>【2018新品】轻熟风优雅通勤简约百搭纯色木耳边灯笼袖显瘦长袖短款女士雪纺衫上衣女款衬衫</p>
                                <span>秒杀价￥<b>69</b><del>￥198</del></span>
                            </a>
                        </td>
                        <td>
                            <a href="">
                                <img src="../../Resource/image/index/c74a2d84-800e-40f8-96f0-46532db56946_5t.jpg.webp">
                                <p>【2018新品】轻熟风优雅通勤简约百搭纯色木耳边灯笼袖显瘦长袖短款女士雪纺衫上衣女款衬衫</p>
                                <span>秒杀价￥<b>69</b><del>￥198</del></span>
                            </a>
                        </td>
                        <td>
                            <a href="">
                                <img src="../../Resource/image/index/6b17f181-4ae1-4c37-88b9-e32f7159cafe_t.jpg.webp">
                                <p>【2018新品】轻熟风优雅通勤简约百搭纯色木耳边灯笼袖显瘦长袖短款女士雪纺衫上衣女款衬衫</p>
                                <span>秒杀价￥<b>69</b><del>￥198</del></span>
                            </a>
                        </td>
                    </tr>
                </table>
            </div>
        </div>
        <div class="main">
            <div class="mainLeft_nav" id="mainLeft_nav">
                <ul>
                    <li><a href="#jingxuan"><i></i>精选</a></li>
                    <li><a href="#huodong"><i></i>活动</a></li>
                    <li><a href="#nvzhuang"><i></i>女装</a></li>
                    <li><a href="#xiebao"><i></i>鞋包</a></li>
                    <li><a href="#nanzhuang"><i></i>男装</a></li>
                    <li><a href="#yundong"><i></i>运动</a></li>
                    <li><a href="#shipin"><i></i>饰品</a></li>
                    <li><a href="#meizhuang"><i></i>美妆</a></li>
                    <li><a href="#muying"><i></i>母婴</a></li>
                    <li><a href="#jujia"><i></i>居家</a></li>
                    <li><a href="#guoji"><i></i>国际</a></li>
                    <li><a href="#shenghuo"><i></i>生活</a></li>
                    <li><a href="#yugao"><i></i>预告</a></li>
                </ul>
            </div>
            <div class="main_context">
                <div class="main_title">
                    <img src="../../Resource/image/index/today_DDp.png" />
                </div>
                <div class="main_product">
                    <!--精选-->
                    <a name="jingxuan" class="h1">精选</a>
                    <div class="product">
                        <img  class="test" src="../../Resource/image/product/ias_153671908531315_570x273_90.jpg" />
                        <div class="product_hiddden">
                            <ul>
                                <li>
                                    <a href="../product/product_detail.html">
                                        <img src="../../Resource/image/product/01010450-7d95-4404-a415-cd4069eadf07_t_235x297_90.jpg" />
                                    </a>
                                    <span>￥299</span>
                                </li>
                                <li>
                                    <a href="../product/product_detail.html">
                                        <img src="../../Resource/image/product/56eb6a96-386f-47b3-8d16-290970b33f43_t_235x297_90.jpg"/>
                                    </a>
                                    <span>￥599</span>
                                </li>
                                <li>
                                    <a href="../product/product_detail.html">
                                        <img src="../../Resource/image/product/5903e04b-f19d-4c94-8cc6-c1f58eb18b1a.jpg"/>
                                    </a>
                                    <span>￥1299</span>
                                </li>
                            </ul>
                            <div class="product_button">
                                <a href="javascript:void(0)" class="seller_icon">
                                    <img src="../../Resource/image/product/icon/primary.png">
                                </a>
                                <a href="javascript:void(0)" class="product_collect">收藏品牌</a>
                                <a href="avascript:void(0)" class="seller_go">
                                    进入专场
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="product">
                        <img  class="test" src="../../Resource/image/product/ias_153671908531315_570x273_90.jpg" />
                        <div class="product_hiddden">
                            <ul>
                                <li>
                                    <a href="javascript:void(0)">
                                        <img src="../../Resource/image/product/01010450-7d95-4404-a415-cd4069eadf07_t_235x297_90.jpg" />
                                    </a>
                                    <span>￥299</span>
                                </li>
                                <li>
                                    <a href="javascript:void(0)">
                                        <img src="../../Resource/image/product/56eb6a96-386f-47b3-8d16-290970b33f43_t_235x297_90.jpg"/>
                                    </a>
                                    <span>￥599</span>
                                </li>
                                <li>
                                    <a href="javascript:void(0)">
                                        <img src="../../Resource/image/product/5903e04b-f19d-4c94-8cc6-c1f58eb18b1a.jpg"/>
                                    </a>
                                    <span>￥1299</span>
                                </li>
                            </ul>
                            <div class="product_button">
                                <a href="javascript:void(0)" class="seller_icon">
                                    <img src="../../Resource/image/product/icon/primary.png">
                                </a>
                                <a href="javascript:void(0)" class="product_collect">收藏品牌</a>
                                <a href="avascript:void(0)" class="seller_go">
                                    进入专场
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="product">
                        <img  class="test" src="../../Resource/image/product/ias_153671908531315_570x273_90.jpg" />
                        <div class="product_hiddden">
                            <ul>
                                <li>
                                    <a href="javascript:void(0)">
                                        <img src="../../Resource/image/product/01010450-7d95-4404-a415-cd4069eadf07_t_235x297_90.jpg" />
                                    </a>
                                    <span>￥299</span>
                                </li>
                                <li>
                                    <a href="javascript:void(0)">
                                        <img src="../../Resource/image/product/56eb6a96-386f-47b3-8d16-290970b33f43_t_235x297_90.jpg"/>
                                    </a>
                                    <span>￥599</span>
                                </li>
                                <li>
                                    <a href="javascript:void(0)">
                                        <img src="../../Resource/image/product/5903e04b-f19d-4c94-8cc6-c1f58eb18b1a.jpg"/>
                                    </a>
                                    <span>￥1299</span>
                                </li>
                            </ul>
                            <div class="product_button">
                                <a href="javascript:void(0)" class="seller_icon">
                                    <img src="../../Resource/image/product/icon/primary.png">
                                </a>
                                <a href="javascript:void(0)" class="product_collect">收藏品牌</a>
                                <a href="avascript:void(0)" class="seller_go">
                                    进入专场
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="product">
                        <img  class="test" src="../../Resource/image/product/ias_153671908531315_570x273_90.jpg" />
                        <div class="product_hiddden">
                            <ul>
                                <li>
                                    <a href="javascript:void(0)">
                                        <img src="../../Resource/image/product/01010450-7d95-4404-a415-cd4069eadf07_t_235x297_90.jpg" />
                                    </a>
                                    <span>￥299</span>
                                </li>
                                <li>
                                    <a href="javascript:void(0)">
                                        <img src="../../Resource/image/product/56eb6a96-386f-47b3-8d16-290970b33f43_t_235x297_90.jpg"/>
                                    </a>
                                    <span>￥599</span>
                                </li>
                                <li>
                                    <a href="javascript:void(0)">
                                        <img src="../../Resource/image/product/5903e04b-f19d-4c94-8cc6-c1f58eb18b1a.jpg"/>
                                    </a>
                                    <span>￥1299</span>
                                </li>
                            </ul>
                            <div class="product_button">
                                <a href="javascript:void(0)" class="seller_icon">
                                    <img src="../../Resource/image/product/icon/primary.png">
                                </a>
                                <a href="javascript:void(0)" class="product_collect">收藏品牌</a>
                                <a href="avascript:void(0)" class="seller_go">
                                    进入专场
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="product">
                        <img  class="test" src="../../Resource/image/product/ias_153671908531315_570x273_90.jpg" />
                        <div class="product_hiddden">
                            <ul>
                                <li>
                                    <a href="javascript:void(0)">
                                        <img src="../../Resource/image/product/01010450-7d95-4404-a415-cd4069eadf07_t_235x297_90.jpg" />
                                    </a>
                                    <span>￥299</span>
                                </li>
                                <li>
                                    <a href="javascript:void(0)">
                                        <img src="../../Resource/image/product/56eb6a96-386f-47b3-8d16-290970b33f43_t_235x297_90.jpg"/>
                                    </a>
                                    <span>￥599</span>
                                </li>
                                <li>
                                    <a href="javascript:void(0)">
                                        <img src="../../Resource/image/product/5903e04b-f19d-4c94-8cc6-c1f58eb18b1a.jpg"/>
                                    </a>
                                    <span>￥1299</span>
                                </li>
                            </ul>
                            <div class="product_button">
                                <a href="javascript:void(0)" class="seller_icon">
                                    <img src="../../Resource/image/product/icon/primary.png">
                                </a>
                                <a href="javascript:void(0)" class="product_collect">收藏品牌</a>
                                <a href="avascript:void(0)" class="seller_go">
                                    进入专场
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="product">
                        <img  class="test" src="../../Resource/image/product/ias_153671908531315_570x273_90.jpg" />
                        <div class="product_hiddden">
                            <ul>
                                <li>
                                    <a href="javascript:void(0)">
                                        <img src="../../Resource/image/product/01010450-7d95-4404-a415-cd4069eadf07_t_235x297_90.jpg" />
                                    </a>
                                    <span>￥299</span>
                                </li>
                                <li>
                                    <a href="javascript:void(0)">
                                        <img src="../../Resource/image/product/56eb6a96-386f-47b3-8d16-290970b33f43_t_235x297_90.jpg"/>
                                    </a>
                                    <span>￥599</span>
                                </li>
                                <li>
                                    <a href="javascript:void(0)">
                                        <img src="../../Resource/image/product/5903e04b-f19d-4c94-8cc6-c1f58eb18b1a.jpg"/>
                                    </a>
                                    <span>￥1299</span>
                                </li>
                            </ul>
                            <div class="product_button">
                                <a href="javascript:void(0)" class="seller_icon">
                                    <img src="../../Resource/image/product/icon/primary.png">
                                </a>
                                <a href="javascript:void(0)" class="product_collect">收藏品牌</a>
                                <a href="avascript:void(0)" class="seller_go">
                                    进入专场
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="product">
                        <img  class="test" src="../../Resource/image/product/ias_153671908531315_570x273_90.jpg" />
                        <div class="product_hiddden">
                            <ul>
                                <li>
                                    <a href="javascript:void(0)">
                                        <img src="../../Resource/image/product/01010450-7d95-4404-a415-cd4069eadf07_t_235x297_90.jpg" />
                                    </a>
                                    <span>￥299</span>
                                </li>
                                <li>
                                    <a href="javascript:void(0)">
                                        <img src="../../Resource/image/product/56eb6a96-386f-47b3-8d16-290970b33f43_t_235x297_90.jpg"/>
                                    </a>
                                    <span>￥599</span>
                                </li>
                                <li>
                                    <a href="javascript:void(0)">
                                        <img src="../../Resource/image/product/5903e04b-f19d-4c94-8cc6-c1f58eb18b1a.jpg"/>
                                    </a>
                                    <span>￥1299</span>
                                </li>
                            </ul>
                            <div class="product_button">
                                <a href="javascript:void(0)" class="seller_icon">
                                    <img src="../../Resource/image/product/icon/primary.png">
                                </a>
                                <a href="javascript:void(0)" class="product_collect">收藏品牌</a>
                                <a href="avascript:void(0)" class="seller_go">
                                    进入专场
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="product">
                        <img  class="test" src="../../Resource/image/product/ias_153671908531315_570x273_90.jpg" />
                        <div class="product_hiddden">
                            <ul>
                                <li>
                                    <a href="javascript:void(0)">
                                        <img src="../../Resource/image/product/01010450-7d95-4404-a415-cd4069eadf07_t_235x297_90.jpg" />
                                    </a>
                                    <span>￥299</span>
                                </li>
                                <li>
                                    <a href="javascript:void(0)">
                                        <img src="../../Resource/image/product/56eb6a96-386f-47b3-8d16-290970b33f43_t_235x297_90.jpg"/>
                                    </a>
                                    <span>￥599</span>
                                </li>
                                <li>
                                    <a href="javascript:void(0)">
                                        <img src="../../Resource/image/product/5903e04b-f19d-4c94-8cc6-c1f58eb18b1a.jpg"/>
                                    </a>
                                    <span>￥1299</span>
                                </li>
                            </ul>
                            <div class="product_button">
                                <a href="javascript:void(0)" class="seller_icon">
                                    <img src="../../Resource/image/product/icon/primary.png">
                                </a>
                                <a href="javascript:void(0)" class="product_collect">收藏品牌</a>
                                <a href="avascript:void(0)" class="seller_go">
                                    进入专场
                                </a>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="main_product">
                    <a name="huodong" class="h1">活动</a>
                    <div class="product">
                        <img  class="test" src="../../Resource/image/product/ias_152274824793934_570x273_90.jpg" />
                        <div class="product_hiddden">
                            <ul>
                                <li>
                                    <a href="javascript:void(0)">
                                        <img src="../../Resource/image/product/01010450-7d95-4404-a415-cd4069eadf07_t_235x297_90.jpg" />
                                    </a>
                                    <span>￥299</span>
                                </li>
                                <li>
                                    <a href="javascript:void(0)">
                                        <img src="../../Resource/image/product/56eb6a96-386f-47b3-8d16-290970b33f43_t_235x297_90.jpg"/>
                                    </a>
                                    <span>￥599</span>
                                </li>
                                <li>
                                    <a href="javascript:void(0)">
                                        <img src="../../Resource/image/product/5903e04b-f19d-4c94-8cc6-c1f58eb18b1a.jpg"/>
                                    </a>
                                    <span>￥1299</span>
                                </li>
                            </ul>
                            <div class="product_button">
                                <a href="javascript:void(0)" class="seller_icon">
                                    <img src="../../Resource/image/product/icon/primary.png">
                                </a>
                                <a href="javascript:void(0)" class="product_collect">收藏品牌</a>
                                <a href="avascript:void(0)" class="seller_go">
                                    进入专场
                                </a>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="main_product">
                    <a name="nvzhuang" class="h1">女装</a>
                    <div class="product">
                        <img  class="test" src="../../Resource/image/product/ias_153507614198218_570x273_90.jpg" />
                        <div class="product_hiddden">
                            <ul>
                                <li>
                                    <a href="javascript:void(0)">
                                        <img src="../../Resource/image/product/01010450-7d95-4404-a415-cd4069eadf07_t_235x297_90.jpg" />
                                    </a>
                                    <span>￥299</span>
                                </li>
                                <li>
                                    <a href="javascript:void(0)">
                                        <img src="../../Resource/image/product/56eb6a96-386f-47b3-8d16-290970b33f43_t_235x297_90.jpg"/>
                                    </a>
                                    <span>￥599</span>
                                </li>
                                <li>
                                    <a href="javascript:void(0)">
                                        <img src="../../Resource/image/product/5903e04b-f19d-4c94-8cc6-c1f58eb18b1a.jpg"/>
                                    </a>
                                    <span>￥1299</span>
                                </li>
                            </ul>
                            <div class="product_button">
                                <a href="javascript:void(0)" class="seller_icon">
                                    <img src="../../Resource/image/product/icon/primary.png">
                                </a>
                                <a href="javascript:void(0)" class="product_collect">收藏品牌</a>
                                <a href="avascript:void(0)" class="seller_go">
                                    进入专场
                                </a>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="main_product">
                    <a name="xiebao" class="h1">鞋包</a>
                    <div class="product">
                        <img  class="test" src="../../Resource/image/product/ias_153432592237954_570x273_90.jpg" />
                        <div class="product_hiddden">
                            <ul>
                                <li>
                                    <a href="javascript:void(0)">
                                        <img src="../../Resource/image/product/01010450-7d95-4404-a415-cd4069eadf07_t_235x297_90.jpg" />
                                    </a>
                                    <span>￥299</span>
                                </li>
                                <li>
                                    <a href="javascript:void(0)">
                                        <img src="../../Resource/image/product/56eb6a96-386f-47b3-8d16-290970b33f43_t_235x297_90.jpg"/>
                                    </a>
                                    <span>￥599</span>
                                </li>
                                <li>
                                    <a href="javascript:void(0)">
                                        <img src="../../Resource/image/product/5903e04b-f19d-4c94-8cc6-c1f58eb18b1a.jpg"/>
                                    </a>
                                    <span>￥1299</span>
                                </li>
                            </ul>
                            <div class="product_button">
                                <a href="javascript:void(0)" class="seller_icon">
                                    <img src="../../Resource/image/product/icon/primary.png">
                                </a>
                                <a href="javascript:void(0)" class="product_collect">收藏品牌</a>
                                <a href="avascript:void(0)" class="seller_go">
                                    进入专场
                                </a>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>


		<!--
        	作者：1058156924@qq.com
        	时间：2018-11-10
        	描述：页脚
        -->
		<footer id="footer"></footer>

		<div class="right_bar">
			<ul>
				<li class="rightBar_account">
					<i></i>
					<!--<span>账号</span>-->
				</li>
				<li class="rightBar_goodCart">
					<i></i>
					<p>购物袋</p>
					<span>0</span>
				</li>
				<li>
					<i></i>
				</li>
				<li>
					<i></i>
				</li>
				<li>
					<i></i>
				</li>
				<li>
					<i></i>
				</li>
			</ul>
		</div>
	</body>
</html>
