
<!--
	作者：邓宁
	时间：2018-09-19
	描述：--用户主页
-->
<div class="footer_main">
	<div class="footer_icon">
		<ul>
			<li><i></i></li>
			<li><i></i></li>
			<li><i></i></li>
			<li><i></i></li>
			<li><i></i></li>
			<li><i></i></li>
			<li><i></i></li>
			<li><i></i></li>
			<li><i></i></li>
			<li><i></i></li>
		</ul>
	</div>
	<div class="footer_service">
		<dl>
			<dt>服务保障</dt>
			<dd><a href="">正品保证</a></dd>
			<dd><a href="">7天无理由放心退</a></dd>
			<dd><a href="">退货返运费</a></dd>
			<dd><a href="">7X15小时客户服务</a></dd>
			<dd><a href="">7天无理由随心换</a></dd>
		</dl>
		<dl>
			<dt>购物指南</dt>
			<dd><a href="">导购演示</a></dd>
			<dd><a href="">订单操作</a></dd>
			<dd><a href="">会员注册</a></dd>
			<dd><a href="">账户管理</a></dd>
			<dd><a href="">收货样品</a></dd>
			<dd><a href="">会员等级</a></dd>
		</dl>
		<dl>
			<dt>支付方式</dt>
			<dd><a href="">快捷支付</a></dd>
			<dd><a href="">23家主流网银支付</a></dd>
			<dd><a href="">货到付款</a></dd>
			<dd><a href="">支付宝、银联等支付</a></dd>
			<dd><a href="">信用卡支付</a></dd>
			<dd><a href="">零钱支付</a></dd>
		</dl>
		<dl>
			<dt>配送方式</dt>
			<dd><a href="">全场满288元免运费</a></dd>
			<dd><a href="">配送范围及运费</a></dd>
			<dd><a href="">验货与签收</a></dd>
		</dl>
		<dl>
			<dt>售后服务</dt>
			<dd><a href="">退货政策</a></dd>
			<dd><a href="">退货流程</a></dd>
			<dd><a href="">退款方式和时效</a></dd>
			<dd><a href="">换货服务</a></dd>

		</dl>
		<dl>
			<dt>唯品会APP二维码</dt>
			<dd><img src="../../Resource/image/user/page_bottom_dl_n.png" ></dd>
		</dl>
	</div>
	<div class="aboutUS">
		<a href="">关于我们</a>| 
		<a href="">About us</a>| 
		<a href="">Investor Relations</a>|
		<a href="">媒体报道</a>| 
		<a href="">品牌招商</a>| 
		<a href="">隐私条款</a>| 
		<a href="">唯品诚聘</a>| 
		<a href="">365爱心基金</a>| 
		<a href="">唯品卡</a>| 
		<a href="">联系我们</a>
	</div>
	<div class="footer_context">
		<p>Copyright © 2008-2018 vip.com，All Rights Reserved  使用本网站即表示接受唯品会用户协议。版权所有 广州唯品会电子商务有限公司</p>
		<p><img src="../../Resource/image/user/police_icon.png">粤公网安备 44010302111111号  粤ICP备08114786号 增值业务经营许可证：粤B2-20170777 网络文化经营许可证：粤网文〔2015〕1528-229</p>
		<p>自营主体经营证照  风险监测信息  互联网药品交易服务资格证（粤C20140002）</p>
	</div>
	<div class="pay_list">
		<ul>
			<li><a href=""></a></li>
			<li><a href=""></a></li>
			<li><a href=""></a></li>
			<li><a href=""></a></li>
			<li><a href=""></a></li>
			<li><a href=""></a></li>
		</ul>
	</div>
</div>