<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>唯品会-我的购物车</title>
		<link rel="stylesheet" type="text/css" href="../../Resource/css/all.css" />
		<link rel="stylesheet" type="text/css" href="../../Resource/css/goodCart/goodCart_header.css"/>
		<link rel="stylesheet" type="text/css" href="../../Resource/css/goodCart/goodCart_footer.css" />
		<link rel="stylesheet" type="text/css" href="../../Resource/css/goodCart/goodCart.css"/>
	</head>
	<body>
		<!--
        	作者：offline
        	时间：2018-09-27
        	描述：购物车页面
        -->
		<header>
			<div class="head_warp">
				<div class="logo">
					<a href="../../index.html"></a>
				</div>
				<div class="head_nav">
					<div class="user_info">
						<span>你好，<a href="">17796645107</a></span>
						<i title="等级：铁牌会员"></i>
						<a href="" class="logout">[退出]</a>
						<a href="" class="order">订单管理</a>
					</div>
					<div class="telephone">
						400-6789-888
					</div>
					<div class="online_service">
						在线客服
					</div>
					<div class="vip_service">
						会员服务
					</div>
					<div class="service">
						<ul>
							<li>
								<i></i>100%正品保证
							</li>
							<li>
								<i></i>七天无理由放心退
							</li>
							<li>
								<i></i>退货返运费
							</li>
						</ul>
					</div>
				</div>
			</div>
		</header>

		<div class="body">
			<div class="goodCart_warp">
				<div class="goodCart_list">
					<table cellspacing="0">
						<tr class="goodCart_title">
							<td>精选特卖</td>
							<td>单价</td>
							<td>数量</td>
							<td>小计</td>
							<td>操作</td>
						</tr>
						<!--购物车列表-->
						<tr class="goodCart">
							<td>
								<div class="p_info">
									<a href="">
										<img src="../../Resource/image/product/5903e04b-f19d-4c94-8cc6-c1f58eb18b1a.jpg" alt="" />
									</a>
									<div class="p_title">
										 <p> 裂帛秋意盎然女装专场 - 2018春装新款复古刺绣修身旗袍黑</p>
										 <p class="p_size">尺码：<span>M</span></p>
									</div>
								</div>
							</td>
							<td class="p_price">
								<span>¥1296</span><br>
								<del>¥2880</del>
							</td>
							<td class="p_number">
								<div class="btn_number">
									<a href="javascript:;">-</a>
									<em>1</em>
									<a href="javascript:;">+</a>
								</div>
							</td>
							<td class="p_subtotal">
								¥ 1296
							</td>
							<td class="delete_goodCart">
								<a href="">删除</a>
							</td>
						</tr>

						<tr class="goodCart">
							<td>
								<div class="p_info">
									<a href="">
										<img src="../../Resource/image/product/5903e04b-f19d-4c94-8cc6-c1f58eb18b1a.jpg" alt="" />
									</a>
									<div class="p_title">
										 <p> 裂帛秋意盎然女装专场 - 2018春装新款复古刺绣修身旗袍黑</p>
										 <p class="p_size">尺码：<span>M</span></p>
									</div>
								</div>
							</td>
							<td class="p_price">
								<span>¥1296</span><br>
								<del>¥2880</del>
							</td>
							<td class="p_number">
								<div class="btn_number">
									<a href="javascript:;">-</a>
									<em>1</em>
									<a href="javascript:;">+</a>
								</div>
							</td>
							<td class="p_subtotal">
								¥ 1296
							</td>
							<td class="delete_goodCart">
								<a href="">删除</a>
							</td>
						</tr>
						<tr class="goodCart">
							<td>
								<div class="p_info">
									<a href="">
										<img src="../../Resource/image/product/5903e04b-f19d-4c94-8cc6-c1f58eb18b1a.jpg" alt="" />
									</a>
									<div class="p_title">
										 <p> 裂帛秋意盎然女装专场 - 2018春装新款复古刺绣修身旗袍黑</p>
										 <p class="p_size">尺码：<span>M</span></p>
									</div>
								</div>
							</td>
							<td class="p_price">
								<span>¥1296</span><br>
								<del>¥2880</del>
							</td>
							<td class="p_number">
								<div class="btn_number">
									<a href="javascript:;">-</a>
									<em>1</em>
									<a href="javascript:;">+</a>
								</div>
							</td>
							<td class="p_subtotal">
								¥ 1296
							</td>
							<td class="delete_goodCart">
								<a href="">删除</a>
							</td>
						</tr>
					</table>
				</div>
			</div>

			<!--结算-->
			<div class="balance">
				<!--优惠券-->
				<div class="coupon">
					<div class="coupon_info">
						<span>
							已成功使用<em class="coupon_number">1</em>张优惠券
						</span>
						<strong>-￥30</strong>
						<a href="">取消使用</a>
					</div>
					<div class="p_total">
						<p>
							<span>共<em class="product_number">3</em>件商品 &nbsp;&nbsp;&nbsp;商品金额</span>
							<span class="total_price">￥3863</span>
						</p>
						<p>
							<span>优惠券优惠</span>
							<span class="coupon_price">-￥30</span>
						</p>
						<p>
							<span>总金额(未含运费)</span>
							<span class="last_total">￥3863</span>
						</p>
					</div>
				</div>
				<div class="pay">
					<a href="" class="pay_button">立即结算</a>
				</div>
			</div>
			<!--商品服务-->
			<div class="product_service">
				<ul>
					<li>

					</li>
					<li>

					</li>
					<li>

					</li>
				</ul>
			</div>


		</div>

		<footer>
			<div class="aboutUS">
				<a href="">关于我们</a>|
				<a href="">About us</a>|
				<a href="">Investor Relations</a>|
				<a href="">媒体报道</a>|
				<a href="">品牌招商</a>|
				<a href="">隐私条款</a>|
				<a href="">唯品诚聘</a>|
				<a href="">365爱心基金</a>|
				<a href="">唯品卡</a>|
				<a href="">联系我们</a>
			</div>
			<div class="footer_context">
				<p>Copyright © 2008-2018 vip.com，All Rights Reserved  使用本网站即表示接受唯品会用户协议。版权所有 广州唯品会电子商务有限公司</p>
				<p><img src="../../Resource/image/user/police_icon.png">粤公网安备 44010302111111号  粤ICP备08114786号 增值业务经营许可证：粤B2-20170777 网络文化经营许可证：粤网文〔2015〕1528-229</p>
				<p>自营主体经营证照  风险监测信息  互联网药品交易服务资格证（粤C20140002）</p>
			</div>
			<div class="pay_list">
				<ul>
					<li><a href=""></a></li>
					<li><a href=""></a></li>
					<li><a href=""></a></li>
					<li><a href=""></a></li>
					<li><a href=""></a></li>
					<li><a href=""></a></li>
				</ul>
			</div>
		</footer>
	</body>
</html>
